body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 392px;
    background-color: #1a1a2e;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
    filter: brightness(0.4);
    z-index: -1;
}

.popup-container {
    text-align: center;
    padding: 6%;
    background-color: rgba(31, 31, 46, 0.4);
    color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    border: 1px solid #333;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.shuffle-icon {
    width: 40px;
    height: 40px;
    filter: drop-shadow(0 0 5px rgba(156, 136, 255, 0.6)) 
            drop-shadow(0 0 10px rgba(156, 136, 255, 0.4)) 
            drop-shadow(0 0 15px rgba(156, 136, 255, 0.2));
}

b {
    font-size: 1.5em;
    color: #9c88ff;
    text-shadow: 0 0 3px rgba(156, 136, 255, 0.6), 0 0 5px rgba(156, 136, 255, 0.4);
}

.author {
    font-size: 0.7em;
    color: #a0a0a0;
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.8;
    text-align: center;
}

.label-text {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    color: #d3d3d3;
    text-shadow: none;
    transition: text-shadow 0.3s ease;
    white-space: nowrap;
    position: relative;
    margin-top: 16px;
    margin-bottom: 20px;
}

#toggleSwitch {
    display: none;
}

.toggle-label {
    display: block;
    width: 50px;
    height: 25px;
    background-color: #555;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: 0 auto;
    margin-top: 20px;
}

.toggle-label::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 17px;
    height: 17px;
    background-color: #e0e0e0;
    border-radius: 50%;
    transition: transform 0.3s, background-color 0.3s;
    box-shadow: 0 0 4px #e0e0e0;
}

#toggleSwitch:checked + .toggle-label {
    background-color: #4CAF50;
    box-shadow: 0 0 8px #4CAF50;
}

#toggleSwitch:checked + .toggle-label::before {
    transform: translateX(25px);
    background-color: #ffffff;
    box-shadow: 0 0 4px #ffffff;
}

#toggleSwitch:checked + .toggle-label + .label-text {
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.4), 0 0 5px rgba(255, 255, 255, 0.2);
}
